@using Aveva.Models
@using Sitecore.Mvc.Presentation
@model NavigationItemModel
@{

}
<div>
    <img src="@Model.HeadImageUrl" alt="@Model.HeadImageAlt" />
    <p>@Model.Name</p>
    <p>@Model.Url</p>
    <p>@Model.Article</p>
</div>